/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
*/
body {
    font-family:Arial, Helvetica, sans-serif
}

#page {
    width: 600px;    
    margin: 70px auto;
}

p.createdBy{
    padding: 5px 0;
    width: 100%;
	font-size:15px;
	margin:100px auto;
	text-align:center;
}
p.createdBy a {color: #666666;}

a{text-decoration: none;}

.left {float:left;}
.right {float: right;}

.red {color: red;}
.blue {color: #0181AB;}

.small{font-size: 12px;}

.box{
    width: 100%;
    height: 100px;
    border: 1px solid #dadada;
    margin: 0 0 4px 0;
    background:#F1F1F1 url(../../images/comment/content.gif) no-repeat center center;
}

.round {
     border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.shadow{
    -webkit-box-shadow: 0px 1px 4px #ddd;
    -moz-box-shadow: 0px 1px 4px #ddd;
}

img.avatar{	display: block;background:#f4f3f3 url(../../images/comment/avatar.png) no-repeat center center; padding:4px; border:1px solid #fff; outline:1px solid #e2e1e1;}

.effect{
    color: #aaa;
    font-size: 14px;
    text-decoration: none;
    background-color: #f1f1f1;
    background: -webkit-gradient(linear, left top, left 30, from(#f1f1f1), color-stop(4%, #ffffff), to(#f4f4f4));
    background: -moz-linear-gradient(top, #f1f1f1, #ffffff 1px, #f4f4f4 30px);
    border: 1px solid #dadada;
    text-shadow: 1px 1px 0px #fff;
}

.add_comment a:hover,.write input[type="submit"]:focus{
    -webkit-box-shadow: 0px 0px 5px #007eff;
    -moz-box-shadow: 0px 0px 5px #007eff;
    box-shadow: 0px 0px 5px #007eff;    
}

.error{
    -webkit-box-shadow: 0px 0px 5px #FF0000;
    -moz-box-shadow: 0px 0px 5px #FF0000;
    box-shadow: 0px 0px 5px #FF0000;    
}

.comment {
    position: relative;
    float:left; width: 586px;
    padding:5px;
    margin: 4px 0;
    border: 1px solid #DDD;
    background-color: #fff;
    border-left-width: 5px;
    border-left-color: black;
  
}
.comment .body {width: 540px;color: #666666;}
.comment .avatar {height: 40px;width: 40px;padding: 0;}
.comment .timer {display: inline;}
.comment .details {position: absolute; bottom: 3px; left: 50px;color: #666666;}

.add_comment a{display: block;margin-top: 4px; padding: 2px 5px;}

.add_comment .write{display: none;}
.add_comment .write .textarea{width: 540px;}
.add_comment .write textarea{overflow: auto;height:40px;width: 475px; font-size: 13px;border: 1px solid #DDD;}
.add_comment .write input[type="submit"]{margin-left: 5px; padding: 11px 6px; background-color: white;border: 1px solid #DDD;}