  body {
	background-image: none;
	width:100%
}
.report
{
	margin:0 auto;
	width:800px;
	padding:50px 0 0 0;
}
.htwo
{
	float:left;
	width: 500px;
	
}
.onepx
{
	clear:both;
	height:30px; width:200px;
}
